/* Fonts */
/* libre-franklin-300 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('./fonts/libre-franklin-v13-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/libre-franklin-v13-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-regular - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/libre-franklin-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/libre-franklin-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* libre-franklin-600 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('./fonts/libre-franklin-v13-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/libre-franklin-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* libre-franklin-700 - latin */
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./fonts/libre-franklin-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/libre-franklin-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* RESET */
/* Box sizing rules */
*, 
*::before,
*::after {
    box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
p {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* COLOR PALETTE */
:root {
    --bg-color: #ffffff;
    --primary-blue: #4C7BF3;
    --primary-blue-15: hsla(223, 87%, 63%, 15%);
    --secondary-blue: #B8C7ED;
    --secondary-pale-blue: #C2D3FF;
    --secondary-light-red: hsl(354, 100%, 66%);
    --neutral-gray: #969696;
    --neutral-very-dark: #15202A;
}

/* GLOBALS & LAYOUT */
html {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: 'Libre Franklin';
    margin: 0;
    text-align: center;
}

#site-wrapper {
    max-width: 672px;
    margin: 0 auto;
    padding: 0 2rem;
}

p { 
    color: var(--neutral-very-dark);
    font-weight: 300;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    color: var(--neutral-gray);
}

h1 strong {
    font-weight: 700;
    color: var(--neutral-very-dark);
}


/* HEADER */
.site-logo {
    display: inline;
    margin-top: 81px;
    margin-bottom: 32px;
    width: 56px;
}


/* MAIN */
.main-section__text {
    font-size: 12px;
    margin-top: 15px;
}

.main-section__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 85%;
    margin: 32px auto 0;
}

.main-section__form input {
    all: unset;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3rem;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

.main-section__form input[type="email"] {
    padding-left: 32px;
    text-align: left;
    color: var(--secondary-blue);
    border: 1px solid var(--secondary-pale-blue);
}

.main-section__form input[type="submit"] {
    color: white;
    font-weight: 600;
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    box-shadow: 2px 2px 15px -2px rgb(0, 0, 0, .7);
}


/* ILLUSTRATION */
.main-section__illustration {
    margin-top: 72px;
}


/* FOOTER */
.footer {
    margin-bottom: 37px;
}
.footer p {
    color: var(--neutral-gray);
    font-size: 10px;
    margin-top: 27px;
}

/* SOCIAL MEDIA ICONS */
.footer__social-media-icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 120px;
}

.footer__social-media-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-blue);
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-blue-15);
}


@media screen and (min-width: 600px) {
    /* GLOBALS & LAYOUT */
    h1 {
        font-size: 48px;
        line-height: 60px;
    }

    /* HEADER */
    .site-logo {
        margin-top: 80px;
        margin-bottom: 40px;
        width: 90px;
    }

    /* MAIN */
    .main-section__text {
        font-size: 20px;
    }

    .main-section__form {
        flex-direction: row;
        width: initial;
        margin-top: 40px;
    }

    .main-section__form input {
        flex-grow: 1;
        padding-top: 18px;
        padding-bottom: 18px;
        border-radius: 3rem;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
    }

    /* ILLUSTRATION */
    .main-section__illustration {
        margin-top: 80px;
    }


    /* FOOTER */
    .footer {
        margin-bottom: 49px;
    }

    .footer p {
        color: var(--neutral-gray);
        font-size: 12px;
        margin-top: 25px;
    }

    /* SOCIAL MEDIA ICONS */
    .footer__social-media-icons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 72px;
    }

    .footer__social-media-icons div {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-blue);
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        border: 1px solid var(--primary-blue-15);
    }
}